<nav class="side-menu">
  <ul class="side-bar">
    <li class="side-title">
      <h1>slaca 2019</h1>
    </li>
    <li class="side-image"><img src="../assets/img/logo-slaca.png" alt="13 Slaca"></li>
    <div class="nav-links">
      <li><a href="#">Apresentação</a></li>
      <li><a href="#">Comitês</a></li>
      <li><a href="#">Autores</a></li>
      <li><a href="#">Eixos temáticos</a></li>
      <li><a href="#" class="active-link">Trabalhos</a></li>
      <li><a href="#">Contato</a></li>
    </div>
  </ul>
</nav>

<header>
  <div class="header-title">
    <p>Anais do Simpósio Latino Americano de Ciências de Alimentos </p>
    <h3>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h3>
    <p>ISSN: 1234-5678</p>
  </div>

  <div class="container-language">
    <img src="../assets/icon/language.svg" alt="Globo.">
    <select name="languages">
      <option value="pt-br">pt, br</option>
    </select>
  </div>

  <div class="container-user">
    <div class="user-info">
      <p>Bem vindo!</p>
      <p class="user-email">alguem12@galoascience.com</p>
    </div>
    <img src="../assets/img/perfil.png" alt="Perfil usuário." class="profile-picture">
  </div>
</header>

<main>
  <article class="home-content">
    <h2 class="main-title text-orange">Análise sensorial de preparações funcionais desenvolvidas para escolares
      entre 09 e 15
      anos, do município de Campinas/SP</h2>
    <section class="container-interaction">
      <div class="container-buttons">
        <div class="button-download">
          <img src="../assets/icon/download.svg" alt="Seta para baixo indicando download.">
          <p>Download</p>
        </div>

        <img src="../assets/icon/star.svg" alt="Estrela.">

        <img src="../assets/icon/doi.svg" alt="Logo DOI.">
      </div>

      <p class="text-orange">COMO CITAR ESSE TRABALHO?</p>
    </section>

    <article class="container-video">
      <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município
        de
        Campinas/SP</h2>

      <div class="video-info">
        <img src="../assets/img/perfil-arte.png" alt="Pintura de um homem." class="profile-picture">
        <div class="create-info">
          <h3>Beatriz Christiane Melo</h3>
          <h4>FCA / Universidade Estadual de Campinas</h4>
        </div>
      </div>

      <!-- Utilizando a tag img para simular o aspecto do video controls -->
      <div class="overlay-image"></div>
      <img src="../assets/img/video-modelo.png" alt="Vídeo com a capa de ondas." class="video">
    </article>

    <section class="container-details">
      <h5>Detalhes</h5>

      <div class="container-tags">
        <p>Tipo de Apresentação: <strong>Pôster</strong></p>
        <p>Eixo temático: <strong>Alimentação e saúde (AS)</strong></p>
        <p>Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong></p>
      </div>

      <div class="container-authors">
        <strong>Autores:</strong>
        <ul class="list-authors">
          <li>Galileo Galilei¹</li>
          <li>Berta Lange de Morretes²</li>
          <li>Isaac Newton³</li>
          <li>Cesar Lattes¹</li>
          <li>Stephen Hawking⁴</li>
        </ul>
      </div>

      <div class="container-universities">
        <ul class="list-university">
          <li>¹Universidade Estadual de Campinas</li>
          <li>²Universidade de São Paulo</li>
          <li>³Instituto Nacional de Pesquisas Espaciais</li>
          <li>⁴Universidade Federal do Rio de Janeiro</li>
        </ul>
      </div>
    </section>
  </article>

  <article class="container-summary">
    <h5>Resumo</h5>
    <p class="summary-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor,
      mollis felis ut,
      commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed
      magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi
      tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem.
      Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus
      condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in
      sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl
      accumsant<span class="points" id="points-summary">... </span><a class="btn-show-more">ver mais</a><br><br>
      <span class="more" id="more-summary">Fusce vitae luctus dui.
        Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis
        vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat
        volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero,
        eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac
        porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
        <br><br>
        Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec
        eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus
        maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis.
        Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur
        non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque
        orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id
        odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu
        maximus massa.
        <br><br>
        Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
        hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus
        dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem.
        Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat
        vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
    </p>
  </article>

  <section class="container-discussions">
    <h5>Discussões</h5>

    <article class="container-create-topic">
      <h6 class="text-orange">Compartilhe suas ideias ou dúvidas com os autores!</h6>
      <div class="icons">
        <img src="../assets/icon/hand-plant.svg" alt="Mão estendida com uma planta acima da palma.">
        <img src="../assets/icon/letters.svg" alt="2 balões de fala com letras.">
        <img src="../assets/icon/people-idea.svg" alt="2 pessoas com uma lâmpada entre elas.">
      </div>
      <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus
        questionamentos ou sugestões para o autor!</p>

      <button class="btn-create-topic">
        <img src="../assets/icon/add.svg" alt="Símbolo de adição.">
        criar tópico
      </button>
    </article>

    <section class="container-form">
      <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>

      <form>
        <label class="text-orange">Assunto</label>
        <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">

        <label class="text-orange">Conteúdo</label>
        <textarea class="content"></textarea>

        <div class="container-button-send">
          <button>Enviar</button>
        </div>
      </form>
    </section>

    <section class="container-form-sent">
      <h6 class="text-orange">Seu tópico foi enviado com sucesso! :D</h6>
      <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for
        respondido!</p>
      <a href="#">Descubra outros trabalhos!</a>

      <button class="btn-create-topic btn-create-new-topic">
        criar novo tópico
      </button>
    </section>

    <section class="container-topics">

      <section class="container-topic topic-sent">
        <div class="success-message">
          <img src="../assets/icon/success.svg" alt="Simbolo de sucesso.">
          <h6>Aguardando feedback dos autores</h6>
          <a href="#">Editar tópico</a>
        </div>

        <div class="topic-content">
          <div class="topic-title">
            <h4 class="text-orange ops-topic-subject">Assunto da pergunta aparece aqui</h4>
            <p class="topic-author">Carlos Henrique Santos</p>
          </div>

          <div class="topic-message">
            <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
              de processo formativo situado impacto de processo formativo processo...</p>
          </div>
        </div>
      </section>

      <section class="container-topic">
        <div class="topic-content">

          <div class="topic-title">
            <h4 class="text-orange ops-topic-subject">Assunto da pergunta aparece aqui</h4>
            <p class="topic-author">Carlos Henrique Santos</p>
          </div>

          <div class="topic-message">
            <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
              de processo formativo situado impacto de processo formativo processo...</p>
          </div>

          <div class="topic-info">
            <img src="../assets/icon/more.svg" alt="Menu.">
            <img src="../assets/icon/heart.svg" alt="Curtir.">
            <p>1 like</p>
            <p>1 resposta</p>
          </div>

        </div>
      </section>

      <section class="container-topic answered-topic">
        <div class="topic-content">
          <div class="topic-title">
            <h4 class="text-orange ops-topic-subject">Assunto da pergunta aparece aqui</h4>
            <p class="topic-author">Carlos Henrique Santos</p>
          </div>

          <div class="topic-message">
            <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
              de processo formativo situado impacto de processo formativo processo<span id="points-message">...</span>
              <span id="more-message"> resente relato
                inscreve-se no campo da análise da dimensão
                e impacto de processo formativo situado impacto de processo formativo processo?</span>
            </p>
          </div>

          <div class="topic-info">
            <img src="../assets/icon/more.svg" alt="Menu.">
            <img src="../assets/icon/heart.svg" alt="Curtir.">
            <p>4 like</p>
            <p>4 resposta</p>
          </div>
        </div>

        <section class="comments-container">

          <section class="comment-container">
            <div class="comment-info">
              <p class="topic-author">Adriano da Silva</p>

              <div class="author-hierarchy">
                <p class="text-orange">Autor</p>
                <img src="../assets/icon/success.svg" alt="2 Simbolos decorativos de sucesso.">
              </div>
            </div>

            <p class="comment">Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto
              de
              processo
              formativo
              situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da
              dimensão
              e
              impacto de processo formativo situado impacto de processo formativo processo.</p>
          </section>

          <section class="comment-container">
            <p class="topic-author">Carlos Henrique Santos</p>

            <p class="comment">Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto
              de
              processo
              formativo situado impacto de processo formativo.
              <br><br>
              Obrigada pela resposta, muito interessante o seu trabalho!
            </p>
          </section>

          <section class="comment-container">
            <div class="comment-info">
              <p class="topic-author">Carmila Ferreira Andrade</p>

              <div class="author-hierarchy">
                <p class="text-orange">Coautor</p>
                <img src="../assets/icon/success-decoration.svg" alt="2 Simbolos decorativos de sucesso.">
              </div>
            </div>

            <p class="comment">Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e
              impacto de
              processo
              formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise
              da
              dimensão e impacto de processo formativo situado impacto de processo formativo processo.
              <br><br>
              Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da
              dimensão
              e
              impacto de processo formativo situado impacto de processo formativo processo.
            </p>
          </section>

          <section class="comment-container">
            <div class="comment-info">
              <p class="topic-author">Ana Carolina</p>

              <div class="author-hierarchy">
                <p class="text-orange">Coautor</p>
                <img src="../assets/icon/success-decoration.svg" alt="2 Simbolos decorativos de sucesso.">
              </div>
            </div>

            <p class="comment">Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto
              de
              processo
              formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise
              da
              dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </section>

        </section>

      </section>

    </section>

  </section>
</main>

<footer>
  <img src="../assets/img/imagem-footer.png"
    alt="Logo da Galoá, com botão de saiba mais e uma breve descrição sobre a empresa.">
</footer>