.container-discussions {
  border: $border-style;
  border-radius: $border-radius;

  .container-create-topic {
    place-items: center;
    padding: 1.5rem 21.6rem;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 19.5rem;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $color-lines;
    }

    @media (max-width: 1500px) {
      padding: 1.5rem 0rem;

      &::before {
        top: 21rem;
      }
    }

    .text-orange {
      font-size: 1.8rem;
      font-weight: 700;
    }

    .icons {
      display: flex;
      gap: 5rem;
      margin-top: 2.7rem;
      margin-bottom: 3.5rem;
    }

    p {
      color: $text-list;
      font-family: $font-quicksand;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 137.5%;

      margin-bottom: 1.4rem;
    }

    .btn-create-topic {
      position: relative;

      gap: 0.6rem;
      padding: 0.7rem 1.3rem;

      border-radius: $border-radius;

      box-shadow: 0rem 0.1rem 0.5rem $text-light-grey;
    }
  }

  .container-form {
    display: none;

    form {
      display: flex;
      flex-direction: column;

      .text-orange {
        font-family: $font-roboto;
        margin-bottom: 0.1rem;
      }
      .subject {
        padding: 1.1rem 2.3rem;

        margin-bottom: 1rem;

        &::placeholder {
          color: #4d4d4d;
          font-family: $font-quicksand;
          font-size: 1.4rem;
        }
      }
      .content {
        padding: 1.1rem 2.3rem;
        height: 10vh;
      }
      .container-button-send {
        display: flex;
        background-color: $greenish-gray;

        justify-content: end;

        border: 1px solid $input-border;
        border-top: 1px solid transparent;

        border-radius: $border-radius;

        button {
          width: 20.5rem;

          padding: 0.8rem 6.6rem;

          justify-content: center;
        }
      }
    }
  }

  .container-form-sent {
    display: none;
    place-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 19rem;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $color-lines;
    }

    .text-orange {
      font-family: $font-roboto;
      font-size: 1.8rem;

      margin-bottom: 1.8rem;
    }

    .btn-create-new-topic {
      display: flex;
      place-content: center;

      width: 23.5rem;

      padding: 0.8rem 5.5rem;

      border-radius: $border-radius;

      box-shadow: 0rem 0.1rem 0.5rem $text-light-grey;

      margin-top: 5.4rem;
    }
  }

  .container-topics {
    display: flex;
    flex-direction: column;

    gap: 1.7rem;
    padding: 1.5rem;

    .container-topic {
      border: $border-style;
      border-radius: $border-radius;

      box-shadow: 0rem 0rem 0.5rem $color-lines;

      .topic-content {
        padding: 1.7rem 2.3rem;

        .topic-message {
          color: $text-list;
          font-family: $font-quicksand;
          font-size: 1.4rem;
          font-weight: 400;

          margin-top: 1rem;
        }

        .topic-info {
          display: flex;
          place-items: center;

          gap: 1.5rem;
          margin-top: 1.1rem;

          p {
            color: #757575;
            font-family: $font-quicksand;
            font-size: 1.4rem;
          }
          img {
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              scale: (1.1);
            }
          }
        }
      }
    }

    .topic-sent {
      background-color: $greenish-gray;
      position: relative;
      display: none;
      place-items: center;

      .success-message {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 0.8rem;

        width: 100%;
        position: absolute;
        z-index: 3;

        img {
          width: 3.09rem;
          height: 2.32rem;
        }

        h3 {
          color: #707070;
          font-family: $font-quicksand;
          font-size: 1.6rem;
          font-weight: 700;
        }
      }

      .topic-content {
        padding: 4.5rem 1.7rem;
        color: transparent;

        .ops-topic-subject {
          color: transparent;

          text-shadow: 0 0 0.5rem rgba(237, 120, 57, 0.8);
        }

        .topic-author,
        .topic-message {
          color: transparent;

          text-shadow: 0 0 0.5rem rgba(77, 77, 77, 0.6);
        }
      }
    }
    .comments-container {
      display: none;
      flex-direction: column;

      background-color: #f8f8f8;

      .comment-container {
        padding: 1.8rem 2.3rem 3.6rem 2.3rem;

        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          top: 0;
          right: 0;
          background-color: $color-lines;
        }

        .text-orange {
          font-size: 1.4rem;
        }

        .comment-info {
          display: flex;
          justify-content: space-between;
          place-items: center;
        }

        .author-hierarchy {
          display: flex;
          gap: 1.33rem;
          place-items: center;
        }

        .comment {
          color: $subtitle-sections;
          font-family: $font-quicksand;
          font-size: 1.4rem;

          margin-top: 1rem;
        }
      }

      .comment-container:nth-of-type(2) {
        background-color: $color-white;
      }
    }
  }
}
