header {
  background-color: $orange-light-bg;

  height: 7.6rem;
  padding-right: 2.9rem;

  display: flex;
  place-items: center;
  justify-content: space-between;

  .header-title {
    color: $text-brown;

    h3 {
      font-size: 2.2rem;
      font-weight: 400;
    }

    p {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  .container-language {
    display: flex;
    place-items: center;
    place-content: center;

    border: 2px solid #cccccc;
    border-radius: 3px;

    padding: 0.5rem 1rem;

    img {
      position: relative;
      top: -0.2rem;
    }
    select {
      text-transform: uppercase;
      background: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .container-user {
    display: flex;
    position: relative;
    text-align: end;
    gap: 1rem;

    .notification {
      position: absolute;
      right: -0.5rem;
      top: -0.5rem;

      padding: 0.2rem 0.6rem;
      border-radius: 50%;

      background-color: $danger-color;

      .notification-quantity {
        color: $color-white;
        font-family: $font-roboto;
        font-size: 1rem;
        font-weight: 700;
      }
    }

    .user-info {
      p {
        font-family: $font-quicksand;
        font-weight: 400;
        font-size: 1.4rem;
        color: $text-dark-grey;
      }
      .user-email {
        font-size: 1.2rem;
      }
    }
  }
}
