.home-content {
  display: grid;
  grid-template-columns: 78.3rem auto;
  padding-top: 2rem;
  column-gap: 3rem;

  .main-title {
    font-size: 2rem;
    font-weight: 900;
    line-height: 125%;
  }

  .container-video {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;

    width: 78.3rem;
    height: 43.9rem;

    h2 {
      font-size: 2.4rem;
      letter-spacing: 1.2px;

      color: $color-white;

      padding: 3rem;
    }
    .video-info {
      display: flex;
      place-items: center;

      gap: 1.7rem;
      padding: 5rem 3rem;

      img {
        border: 1px solid $color-orange-main;
        padding: 0.2rem;
      }

      .create-info {
        font-family: $font-roboto;
        font-weight: 900;
        color: $color-white;

        h3 {
          font-size: 3.4rem;
          letter-spacing: 1.7px;
        }
        h4 {
          font-size: 2rem;
          letter-spacing: 1px;
        }
      }
    }
    .overlay-image {
      width: 100%;
      height: 43.7rem;

      position: absolute;
      top: 0;
      z-index: -1;

      background-color: #723a1c;
      opacity: 0.6;

      border-radius: 5px;
    }
    .video {
      position: absolute;
      top: 0;
      z-index: -2;
    }
  }

  .container-interaction {
    display: flex;
    align-items: center;
    flex-direction: column;

    .text-orange {
      margin-top: 1.2rem;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 178.571%;
      letter-spacing: 0.7px;
    }

    .container-buttons {
      display: flex;
      gap: 0.5rem;

      &:hover {
        cursor: pointer;
      }

      img:not(.button-download img) {
        background-color: $color-orange-main;
        padding: 0.6rem 1.2rem;
        border-radius: $border-radius;
      }

      .button-download {
        display: flex;
        place-items: center;

        width: max-content;

        gap: 0.5rem;
        padding: 0.6rem 1.2rem;
        border-radius: 5px;

        background-color: $color-orange-main;

        p {
          color: $color-white;
          font-family: $font-roboto;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }

  .container-details {
    overflow: auto;

    width: 24.2rem;
    height: 43.9rem;
    border: $border-style;
    border-radius: $border-radius;
    margin: auto;

    .container-tags,
    .container-authors {
      color: $text-list;
      font-family: $font-quicksand;
      line-height: 120%;

      font-weight: 400;

      padding: 1.5rem;
    }

    .container-tags {
      font-size: 1.2rem;

      letter-spacing: 0.24px;
    }

    .container-authors {
      font-size: 1.4rem;

      letter-spacing: 0.28px;
    }

    .container-universities {
      color: $text-light-grey;
      font-family: $font-quicksand;

      font-size: 1.2rem;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0.24px;

      margin-top: 3rem;
      padding: 1.5rem;
    }
  }
}
