* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

main,
header,
footer {
  margin-left: 22rem;
  padding: 0rem 4.3rem;
}

.side-title,
.header-title,
h2,
h5 {
  font-family: $font-roboto;
}
