$font-roboto: "Roboto", sans-serif;
$font-quicksand: "Quicksand", sans-serif;

$color-white: #fff;
$color-orange-main: #ed7839;
$color-light-bg: #ececec;
$color-lines: #e7e7e7;

$orange-gradient: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);

$text-brown: #725c5c;
$text-dark-grey: #333333;
$subtitle-sections: #4e4e4e;
$text-light-grey: #ada0a0;
